/* Réinitialisation des marges et des espacements */
h1, h2, h3, p, ul, li {
    margin:0;
    padding: 0;
}
main{
    margin-top: 0;
    margin-left:5cm;
    margin-right: 5cm;
}

/* Styles de base */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, nav, main {
    padding: 20px;
}

header {
    color: #fff;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
font-size: larger;   
 display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Styles de la section des produits */
.product {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    max-width: 100%;
    height: 10cm;
    margin-bottom: 10px;
}

.product h3 {
    margin-top: 10px;
}

.buy-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

/* Styles spécifiques aux sections */
#section1 {
    background-color: #f4f4f4;
}

#section2 {
    background-color: #e0e0e0;
}
header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}