/* Réinitialisation de styles de base */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Styles de la section hero */
.hero {
    text-align: center;
    padding: 4rem;
    color: #fff;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

/* Styles de la section services */
.services {
    text-align: center;
    padding: 2rem;
    background-color: #fff;
}

.services h2 {
    margin-bottom: 1rem;
}

.services ul {
    list-style: none;
}

.services li {
    margin-bottom: 10px;
}

/* Styles du footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
.hero img {
    display: block;
    margin: 0 auto;
    width:max-content;
    height: 4cm;

}
.header-image {
    background-image: url('./logo.JPG'); /* Chemin vers votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément */
    background-position: center top; /* Position de l'image */
    width: 100%; /* Ajuste la largeur pour occuper toute la largeur de la page */
    height: 310px; /* Ajuste la hauteur selon vos besoins */
}
#imagelogo{
 width: 0%; 
    height: auto;
}
h2,p{    text-align:left;
    color : black;
}
