/* Réinitialisation de styles de base */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: White;
    color: #333;
}
header {
    background-color: White; /* Couleur de fond de la barre de navigation */
    color: #fff; /* Couleur du texte */
    padding: 10px 0; /* Espacement intérieur de la barre de navigation */
}

nav {
    display: flex; /* Pour aligner les éléments horizontalement */
    justify-content: space-between; /* Pour pousser le logo et le menu aux coins */
    align-items: center; /* Pour aligner verticalement les éléments */
    background-color: White; /* Couleur de fond de la barre de navigation */

}
.logo img {
    width: 50px; /* Réglez la largeur de votre logo */
    height: auto;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline; /* Pour afficher les éléments de menu en ligne */
    margin-right: 20px; /* Espacement entre les éléments du menu */
}

.menu li a {
    text-decoration: none;
    color:Black; /* Couleur du texte des liens */
}


/* Styles de la section hero */
.hero {
    text-align: center;
    padding: 4rem;
    color: #fff;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

/* Styles de la section services */
.services {
    text-align: center;
    padding: 2rem;
    background-color: #fff;
}

.services h2 {
    margin-bottom: 1rem;
}

.services ul {
    list-style: none;

}

.services li {
    margin-bottom: 10px;
}

/* Styles du footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
.hero img {
    display: block;
    margin: 0 auto;
    width:max-content;
    height: 4cm;

}
.header-image {
    background-image: url('./logo.JPG'); /* Chemin vers votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément */
    background-position: center top; /* Position de l'image */
    width: 100%; /* Ajuste la largeur pour occuper toute la largeur de la page */
    height: 310px; /* Ajuste la hauteur selon vos besoins */
}
h2,p{    text-align:left;
    color : black;
}

